// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p{
  font-family: Georgia;
}
h4{
  font-family: Georgia;
}
.container{
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 800px;
  margin: 0 auto;

  border-radius: 5px;
}
.headline{
  text-align: center;
}

